@use "variables" as v;

/*CONTACTO*/

.contacto_portada {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;

    h2{
    font-size: 40px;
    margin: 10px;
    text-transform: uppercase;
}
}
.contenedor{
    display: flex;
    align-items: center;
    gap: 30px;

.video_tomate{
    width: 600px;
    height: 400px;
    max-width:600px;
    object-fit: cover;
    border-radius: 5px;
}
.forms_sobre_video{
    display: grid;
    grid-template-columns: 1fr;
    gap:10px;
    position: absolute;
    text-align: center;
    top: 65%;
    left: 25%;
    z-index: 1;
    transform: translate(-50%, -50%)/* Esto lo centra de verdad */;
    width: 300px; /*mantiene compacto el formulario*/
    padding: 60px;

label{
    font-size: 25px;
    font: bold;
}
}

.mapa{
    display: flex; 
    flex-direction: column;
    }
    iframe{
        border-radius: 10px;

    }
}

    .comiendo{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        img{
            max-width: 200px;
            width: 100%;
            height: 350px;
            object-fit: cover;
            padding: 20px;
            margin: 10px;
            border-radius: 50px;
        }
    }


@media (min-width: 320px) and (max-width: 430px) {
    .contacto_portada{
        display: flex;
        flex-direction: column;
    
    h2{
        font-size: 2rem;
        margin-top: 40px;
    }
    
    .contenedor{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: center;
    
    .video_tomate{
        width: 300px;
        height: 400px;
    }
    .forms_sobre_video{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}
.mapa{
    display: flex;
    flex-direction: column;
    iframe{
        width: 300px;;
        height: auto;
        object-fit: cover;
    }
}
}
}

@media (min-width: 320px) and (max-width: 430px) {
    .comiendo{
        display: flex;
        flex-direction: row;
        img{
            padding: 0px;
            margin: 0px;
            border-radius: 0px;
            max-width: 250px;
            width: 100%;
            height: 150px;
            object-fit: cover;
            &:nth-child(n+4){
                display: none;
            }
        }
    }
}