@use "variables" as v;

/*FOOTER*/
.footer_titulo{
        display: flex;
        align-items: center;
        justify-content:space-between;
        color: v.$colorsecundario;
        position: static;
        margin-top: 20px;

    h2{
        font-size: 1.5rem;
    }
    ul{
        display: flex;
        gap: 20px;
    img{
        width: 40px;
        height: auto;
    }
}
}

@media (min-width: 320px) and (max-width:430px){
    .footer_titulo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin:5px;
    ul{
    display: flex;                    // fuerza fila
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
        }
    
        h2{
        display: none;
    }
    
    img{
        width: 30px;
    }
}}