@use "variables" as v;

/*MAIN*/

    .portal_principal{
        display: flex;
        justify-content: center;
        padding: 50px;
        background-image: url(../img/portada_pagina.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .portal_texto{
        text-align: center;
    h2{
        font-size:50px;
    color: v.$colorsecundario;
    text-transform: uppercase;
    }
    button{
        font-family: v.$fuentesecundario;
        background-color: v.$colorterciario;
        margin: 40px;
        padding: 20px;
        font-style:italic;
        font-weight: bold;
    &:hover{
        background-color: v.$colorcuarto;
        color:v.$colorsecundario;
    }}
    a{
        
        color:v.$colorsecundario;
        text-transform: uppercase;
    }
}

/*Carousel*/

.carousel-inner{
    margin: 10px;
    h2{
    font-size: 3rem;
    }
}
.carousel-item{
    margin: 10px;
    img{
    width: 50%;
    height: auto;
    }
}
/*FIN Carousel*/

/*SECCION 1*/
.delivery{
    margin:0;
    animation: delivery 2s ease-in-out infinite alternate;
    img{
    width: 100%;
    height: auto;
    }
}
@keyframes delivery {
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);

    }
}

/*SECCION 2*/
.contenedor2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;}

    .galeria_portada{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    img{ width: 250px;
    height: 400px;
    object-fit:cover;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 10px rgba(17, 17, 17, 0.4);
    transition: transform 0.3s ease; /* la imagen se agranda de forma suave, en 0.3 segundos, acelerando y frenando suavemente.*/
    &:hover{
        transform: scale(1.1); /* Agranda un 10% */
}
    }}

    @media (min-width: 320px) and (max-width:430px){
    .portal_principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 0;
    h2{
        margin-top: 10px;
        font-size: 30px;
    }
    button{
        font-size: 0.7rem;
        margin: 10px;
        padding: 5px;
    }}
    .contenedor2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: none;
    }
    .galeria_portada img{
        width: 100%;
        max-width: 120px;
        height: 200px;
        object-fit: cover;
    }
    a{
        font-size: 0.8rem;
    }
}