@use "variables" as v;

/*Productos*/
.productos{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 20px;
    flex-direction: column;

h2{
    font-size: 40px;
    margin: 20px;
    text-transform: uppercase;
}
}

.venta_productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;

    .titulo_producto{
        text-align: left;
        font-size: 1.7rem;
    }

p{
    max-width: 300px;
    font-size: 1.1rem;
}

img{
    width: 350px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;

&:hover{
    transform: scale(1.1); /* Agranda un 10% */
}
}
}

@media (min-width: 320px) and (max-width:430px){
    .productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

    h2{
        font-size: 2rem;
        margin-top: 40px;
    }
}
    .venta_productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
        padding: 20px;
    
        .titulo_producto{
            font-size: 1.2rem;
        }
        p{
            text-align: center;
        }

    img{
        width: 300px;
        height: auto;
    }
}
}